.contenedor {
	width: 900px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kavivanar', cursive;
}

header {
	overflow: hidden;
}

header .logo {
	float: left;
}

figure {
	margin: 0;
}

header nav {
	float: right;
	position: relative;
	top: 55px;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 10px;
}

header nav ul li {
	margin: 0;
	padding: 0;
}

header nav ul li a {
	background-color: gray;
	padding: 5px 10px;
	display: block;
	text-decoration: none;
	list-style: none;
	color: white;
}

footer {
	overflow: hidden;
	background-color: black;
	color: white;
	padding: 10px 5px;
}

footer .credito {
	float: left;
}

footer .copyright {
	float: right;
}

h1 {
	color: red;
	font-size: 30px;
}

p {
	color: grey;
}

.multifondo {
	background: url('../img/logo.png') left center no-repeat,
		url('../img/pelota.png') right center no-repeat,
		url('../img/plaza-roja.jpg') center center no-repeat;
	background-size: auto, auto, cover;
	width: 900px;
	height: 250px;
	margin-bottom: 50px;
}

.columnas {
	columns: 3;
	column-gap: 20px;
	margin: 50px auto;
	font-size: 14px;
}

.columnas p {
	margin-top: 0;
}

.estadios {
	overflow: hidden;
	margin: 50px auto;
}

.estadio {
	width: 155px;
	float: left;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 20px;
	margin-left: 37px;
}

.estadio img {
	width: 150px;
	border-radius: 50%;
	box-shadow: 0px 4px 6px gray;
}

.estadio h4 {
	font-family: 'Kavivanar', cursive;
	text-align: center;
}

.estadio p {
	font-size: 12px;
}

.estadio:first-child {
	margin-left: 0;
}

.mascota {
	background: linear-gradient(to bottom, red, #800000);
	width: 900px;
	height: 250px;
	overflow: hidden;
}

.mascota img {
	float: left;
}

.mascota p {
	float: right;
	color: white;
	margin-left: 80px;
	width: 50%;
	position: relative;
	top: 70px;
}

.historia-mascota h2 {
	font-family: 'Kavivanar', cursive;
	color: #d20a11;
	text-shadow: 2px 2px 4px gray;
}

.grupos {
	overflow: hidden;
	margin: 50px auto;
}

.grupo {
	float: left;
	width: 200px;
	margin-left: 33px;
}

.grupo:first-child {
	margin-left: 0;
}

.grupo h6 {
	font-family: 'Kavivanar', cursive;
	color: white;
	padding: 5px 10px;
	font-size: 17px;
	margin: 0;
}

.grupo:nth-child(1) h6 {
	background-color: rgba(210, 10, 17, 1);
}

.grupo:nth-child(2) h6 {
	background-color: rgba(231, 76, 60, 0.9);
}

.grupo:nth-child(3) h6 {
	background-color: rgba(241, 148, 138, 0.8);
}

.grupo:nth-child(4) h6 {
	background-color: rgba(245, 183, 177, 0.7);
}

.grupo ul {
	margin-top: 20px;
	padding-left: 20px;
}

.grupo h6:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/pelota-icono.png') no-repeat center center;
	background-size: cover;
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.equipos {
	width: 100%;
	margin: 50px auto;
}

.equipos tr td {
	padding: 10px;
	text-align: center;
}

.equipos tr:nth-child(odd) {
	background-color: rgba(200, 200, 200, 0.9);
}

.equipos tr:nth-child(even) {
	background-color: rgba(230, 230, 230, 0.8);
}

.equipos tr:nth-child(1) {
	background-color: black;
	color: white;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #d20a11;
	color: black;
	font-weight: bold;
}

.ciudades {
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 50px;
}

.ciudades .ciudad:first-child {
	margin-left: 0;
}

.ciudad {
	width: 155px;
	float: left;
	border: 1px solid gray;
	padding: 20px;
	margin-left: 37px;
}

.ciudad img {
	width: 150px;
	border-radius: 50%;
	box-shadow: 0px 4px 6px gray;
}

.ciudad h6 {
	text-align: center;
	font-family: 'Kavivanar', cursive;
}

.ciudad p {
	font-size: 12px;
}

.ciudad:first-child:hover {
	border-radius: 40px;
	transition: border-radius 0.3s ease;
}

.ciudad:nth-child(2):hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.ciudad:nth-child(3):hover {
	box-shadow: 0px 8px 12px gray;
	transition: box-shadow 0.3s ease;
}

.ciudad:nth-child(4):hover {
	box-shadow: inset 0px 4px 6px gray;
	transition: box-shadow 0.3s ease;
}
