/*Catppuccin Macchiatto Palette*/
:root {
	--rosewater: #f4dbd6;
	--flamingo: #f0c6c6;
	--pink: #f5bde6;
	--mauve: #c6a0f6;
	--red: #ed8796;
	--maroon: #ee99a0;
	--peach: #f5a97f;
	--yellow: #eed49f;
	--green: #a6da95;
	--teal: #8bd5ca;
	--sky: #91d7e3;
	--sapphire: #7dc4e4;
	--blue: #8aadf4;
	--lavender: #b7bdf8;
	--text: #cad3f5;
	--subtext1: #b8c0e0;
	--subtext0: #a5adcb;
	--overlay2: #939ab7;
	--overlay1: #8087a2;
	--overlay0: #6e738d;
	--surface2: #5b6078;
	--surface1: #494d64;
	--surface0: #363a4f;
	--base: #24273a;
	--mantle: #1e2030;
	--crust: #181926;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--base);
}

a {
	text-decoration: none;
	color: var(--mauve);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding-top: 20px;
}

.logo {
	font-size: 1.8rem;
	color: var(--sapphire);
	padding-left: 20px;
}

.hamburger {
	padding-right: 20px;
	cursor: pointer;
}

.hamburger .line {
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
	background-color: var(--overlay2);
}

.nav__link {
	position: fixed;
	width: 94%;
	top: 5rem;
	left: 18px;
	background-color: var(--surface0);
}

.nav__link a {
	display: block;
	text-align: center;
	padding: 10px 0;
}

.nav__link a:hover {
	background-color: var(--surface2);
}

.hide {
	display: none;
}

@media screen and (min-width: 1000px) {
	.nav__link {
		display: block;
		position: static;
		width: auto;
		margin-right: 20px;
		background: none;
	}

	.nav__link a {
		display: inline-block;
		padding: 15px 20px;
	}

	.hamburger {
		display: none;
	}
}

#container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
}

#presentacion {
	width: 50vw;
	border: 3px dashed var(--mauve);
	margin: 30px auto;
	padding: 15px;
	color: var(--text);
}

h1 {
	text-align: center;
	color: var(--blue);
	font-size: 40px;
}

h2 {
	color: var(--text);
	text-align: center;
}

form {
	background-color: var(--crust);
	width: 40vw;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0 2em 1em 2em;
	color: var(--teal);
}

input {
	margin: 10px 0 30px 0;
	width: 100%;
	min-height: 2em;
}

/*Para checkboxes*/
.inline {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
}

/*Boton Submit*/
input[type='button'] {
	display: block;
	width: 50%;
	margin: 1em auto;
	height: 2em;
	font-size: 1.1rem;
	background-color: var(--mauve);
	border: 2px solid var(--surface2);
	color: var(--crust);
	min-width: 300px;
}

.depto {
	display: flex;
}
